  <joint name="torso_to_z" type="revolute">
    <parent link="z_prismatic"/>
    <child link="torso"/>
    <axis xyz="1 0 0"/>
    <limit effort="1000.0" lower="-0.785." upper="0.35" velocity="1000.0"/>
    <origin rpy="0 0 0" xyz="0.1 0 -0.24"/>
  </joint>



<joint name="torso_to_z" type="continuous">
    <parent link="z_prismatic"/>
    <child link="torso"/>
    <axis xyz="1 0 0"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>